<div class="row" ng-if="!vm.gameStarted">
    <div class="col-sm-12">
        <center>
            <br>
            <h1>Boggle</h1>
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">START THE GAME</button>
        </center>
    </div>
</div>


<div class="container" ng-if="vm.gameStarted">
    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>

    <div class="row">
        <center>
            <div class="col-sm-12">
                <button ng-if="!vm.showResults" ng-disabled="!vm.disable" class="btn btn-primary" ng-click="vm.start()"> Go {{vm.players[vm.nextPlayer].name}}!</button>
                <button ng-if="vm.showResults" data-toggle="modal" data-target="#resultModal" class="btn btn-success"> Game results</button>
            </div>
        </center>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <center>
                {{vm.players[vm.currentPlayer].name}}'s game
                <h3>{{vm.counter}}</h3>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>


    <div class="row" ng-repeat="a in vm.letters track by $index">
        <div class="col-sm-4"></div>
        <div class="col-sm-1" ng-repeat="l in a track by $index">
            <center>
                <button ng-click="vm.select(l)" ng-disabled="vm.disable" class="btn btn-danger btn-lg btn-block">
                    <b> {{l.letter}}</b>
                </button>
            </center>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-12">
            <br>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <center>
                <button ng-disabled="vm.disable" ng-click="vm.confirm()" class="btn btn-primary"> Confirm word</button>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>

    <div class="row" ng-repeat="word in vm.words">
        <div class="col-sm-12">
            <center>
                <b style="color: {{word.color}}"> {{word.text}}
                    <small>
                        <i>{{word.message}}</i>
                    </small> {{word.points}}</b>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <center>
                {{vm.word.text}}
            </center>
        </div>
    </div>




</div>






<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Start Boggle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Game time (sec):</label>
                        <input class="form-control" ng-model="vm.gameTime" type="number" min="1" max="180" step="1" />
                    </div>
                    <div class="col-sm-4">
                        <label>Number of players:</label>
                        <input class="form-control" ng-blur="vm.makePlayers()" ng-model="vm.numberOfPlayers" type="number" min="1" max="10" step="1"
                        />
                    </div>
                    <div class="col-sm-4">
                        <label>Language:</label>
                        <select class="form-control" ng-model="vm.selectedLanguage">
                            <option>English</option>
                            <option>Deutch</option>
                            <option>Francais</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-repeat="player in vm.players">
                    <div class="col-sm-12">
                        <label>Name of Player {{player.number}}:</label>
                        <input class="form-control" ng-model="player.name" type="text" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.startTheGame()" class="btn btn-success" data-dismiss="modal">Start</button>
            </div>
        </div>

    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="resultModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Boggle results</h4>
            </div>
            <div class="modal-body">
                <div class="row" ng-repeat="result in vm.results">
                    <div class="col-sm-2"> {{result.player}} </div>
                    <div class="col-sm-7">
                        <p ng-repeat="word in result.words">
                            <b style="color: {{word.color}}; text-decoration: {{word.duplicate}}"> {{word.text}} {{word.message }}</b>
                        </p>
                    </div>
                    <div class="col-sm-1">
                        <p ng-repeat="word in result.words">
                            <b style="color: {{word.color}}; text-decoration: {{word.duplicate}}"> {{word.points}}</b>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-block btn-danger">{{vm.finalScores[result.index]}} </button>
                    </div>
                    <div class="col-sm-12">
                        <hr> </div>
                </div>
            </div>

        </div>

    </div>
</div>